<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/resources/ness.css">
    <link rel="shortcut icon" type="image/png" href="/resources/favicon.png">
    <script src="jquery-1.10.2.min.js"></script>
    <script src="/scripts/images.js"></script>
    <script type="text/javascript" src="https://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Julius+Sans+One" rel="stylesheet">
  </head>
  <body>
    <!-- NAVIGATION BAR -->
    <nav class="navbar">
          <ul class="nav">
              <li id="navi">
                  <div class="blobs">
                      <div class="blob"><span> <p> <a href="/" style="text-decoration: none">ANNELENSE </a> </p></span></div>
                  </div>
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                      <defs>
                          <filter id="goo">
                              <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                              <feComposite in="SourceGraphic" in2="goo" operator="atop" />
                          </filter>
                      </defs>
                  </svg>

              </li>
              <li id="li-icon">
                  <div class="wrap-3d icon-cont" id="button">
                      <div id="container-menu-icon">
                          <div class="line1"></div>
                          <div class="line2"></div>
                          <div class="line3"></div>
                      </div>
                  </div>

              </li>
              <li>
                  <div class='box-scene-ul'>
                      <div class='box-ul'>
                          <div class='front-li face-li'>
                              <h1><a href="/contact" id="link"> CONTACT </a></h1>
                          </div>
                          <div class="side-li face-li">
                              <div id="context">
                                  <h1> <a href="/contact">CONTACT </a></h1>
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
              <li>
                  <div class='box-scene-ul'>
                      <div class='box-ul'>
                          <div class='front-li face-li'>
                              <h1><a href="/places" id="link">PLACES </a></h1>
                          </div>
                          <div class="side-li face-li">
                              <div id="context">
                                  <h1> <a href="/places">PLACES </a></h1>
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
              <li>
                  <div class='box-scene-ul'>
                      <div class='box-ul'>
                          <div class='front-li face-li'>
                              <h1><a href="/portraits" id="link">PORTRAITS </a></h1>
                          </div>
                          <div class="side-li face-li">
                              <div id="context">
                                  <h1><a href="/portraits">PORTRAITS </a></h1>
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
              <li>
                  <div class='box-scene-ul'>
                      <div class='box-ul'>
                          <div class='front-li face-li'>
                              <h1> <a href="/images" id="link">HOME </a></h1>
                          </div>
                          <div class="side-li face-li">
                              <div id="context">
                                  <h1><a href="/images">HOME </a></h1>
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
          </ul>
      </nav>
      <br> <br>

      <!-- PHOTOS -->
      <div class="row">
  <div class="column">
    <img src="/resources/canada.jpg" style="width:100%">
    <img src="/resources/canada.png" style="width:100%">
  </div>
  <div class="column">
    <img src="/resources/canada3.jpg" style="width:100%">
   <img src="/resources/canada4.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="/resources/canada5.jpg" style="width:100%">
    <img src="/resources/canada6.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="/resources/canada7.jpg" style="width:100%">

  </div>
</div>

</body>
</html>
