<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/resources/index.css">
    <<link rel="shortcut icon" type="image/png" href="/resources/favicon.png">
    <link rel=icon href=favicon.ico>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Poiret+One" rel="stylesheet">
  </head>
  <body>
    <div class = "boxed">
      <h1> ANNE <br>
           PHAM
      </h1>

      <a href="/images" > <h2> VIEW <br>
                               IMAGES
                          </h2>
      </a>
    </div>
</body>
</html>
