<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/resources/ness.css">
    <link rel="shortcut icon" type="image/png" href="/resources/favicon.png">
    <script src="/scripts/ness.js"></script>
    <script src="jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/dojo/1.13.0/dojo/dojo.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Julius+Sans+One" rel="stylesheet">
  </head>
  <body>
    <script src="/scripts/ness.js"></script>
    <script src="jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/dojo/1.13.0/dojo/dojo.js"></script>
    <!-- NAVIGATION BAR -->
    <nav class="navbar">
          <ul class="nav">
              <li id="navi">
                  <div class="blobs">
                      <div class="blob"><span> <p> <a href="/" style="text-decoration: none">ANNELENSE </a> </p></span></div>
                  </div>
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                      <defs>
                          <filter id="goo">
                              <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                              <feComposite in="SourceGraphic" in2="goo" operator="atop" />
                          </filter>
                      </defs>
                  </svg>

              </li>
              <li id="li-icon">
                  <div class="wrap-3d icon-cont" id="button">
                      <div id="container-menu-icon">
                          <div class="line1"></div>
                          <div class="line2"></div>
                          <div class="line3"></div>
                      </div>
                  </div>

              </li>
              <li>
                  <div class='box-scene-ul'>
                      <div class='box-ul'>
                          <div class='front-li face-li'>
                              <h1><a href="/contact" id="link"> CONTACT </a></h1>
                          </div>
                          <div class="side-li face-li">
                              <div id="context">
                                  <h1> <a href="/contact">CONTACT </a></h1>
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
              <li>
                  <div class='box-scene-ul'>
                      <div class='box-ul'>
                          <div class='front-li face-li'>
                              <h1><a href="/places" id="link">PLACES </a></h1>
                          </div>
                          <div class="side-li face-li">
                              <div id="context">
                                  <h1> <a href="/places">PLACES </a></h1>
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
              <li>
                  <div class='box-scene-ul'>
                      <div class='box-ul'>
                          <div class='front-li face-li'>
                              <h1><a href="/portraits" id="link">PORTRAITS </a></h1>
                          </div>
                          <div class="side-li face-li">
                              <div id="context">
                                  <h1><a href="/portraits">PORTRAITS </a></h1>
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
              <li>
                  <div class='box-scene-ul'>
                      <div class='box-ul'>
                          <div class='front-li face-li'>
                              <h1> <a href="/images" id="link">HOME </a></h1>
                          </div>
                          <div class="side-li face-li">
                              <div id="context">
                                  <h1><a href="/images">HOME </a></h1>
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
          </ul>
      </nav>
      <br> <br>

      <!-- PHOTOS -->
      <div class="row">
  <div class="column">
    <img src="/resources/ness12.jpg" style="width:100%">
    <img src="/resources/ness10.jpg" style="width:100%">
    <img src="/resources/ness6.jpg" style="width:100%">
    <img src="/resources/ness13.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="/resources/ness5.jpg" style="width:100%">
    <img src="/resources/ness2.jpg" style="width:100%">
    <img src="/resources/ness8.jpg" style="width:100%">
    <img src="/resources/ness9.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="/resources/ness7.jpg" style="width:100%">
    <img src="/resources/ness14.jpg" style="width:100%">
    <img src="/resources/ness18.jpg" style="width:100%">
    <img src="/resources/ness.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="/resources/ness11.jpg" style="width:100%">
    <img src="/resources/ness17.jpg" style="width:100%">
    <img src="/resources/ness3.jpg" style="width:100%">
  </div>
</div>
<!-- image popup
<div class="popup">
  <img id="myIMG"src="http://images.entertainment.ie/images_content/rectangle/620x372/success-kid.jpg">
  <img src="https://pbs.twimg.com/media/CX1PAZwVAAANemW.jpg">
  <img src="http://images5.fanpop.com/image/photos/30900000/beautiful-pic-different-beautiful-pictures-30958249-1600-1200.jpg">
</div>
<div class="show">
  <div class="overlay"></div>
  <div class="img-show">
    <span id="mySPAN">X</span>
    <img src="">
  </div>
</div>
<!--End image popup-->

</body>
</html>
