<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/resources/places.css">
    <link rel="shortcut icon" type="image/png" href="/resources/favicon.png">
    <script src="jquery-1.10.2.min.js"></script>
    <script src="/scripts/images.js"></script>
    <script type="text/javascript" src="https://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Julius+Sans+One" rel="stylesheet">
  </head>
  <body>
    <!-- NAVIGATION BAR -->
    <nav class="navbar">
          <ul class="nav">
              <li id="navi">
                  <div class="blobs">
                      <div class="blob"><span> <p> <a href="/" style="text-decoration:none">ANNELENSE </a> </p></span></div>
                  </div>
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                      <defs>
                          <filter id="goo">
                              <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                              <feComposite in="SourceGraphic" in2="goo" operator="atop" />
                          </filter>
                      </defs>
                  </svg>

              </li>
              <li id="li-icon">
                  <div class="wrap-3d icon-cont" id="button">
                      <div id="container-menu-icon">
                          <div class="line1"></div>
                          <div class="line2"></div>
                          <div class="line3"></div>
                      </div>
                  </div>

              </li>
              <li>
                  <div class='box-scene-ul'>
                      <div class='box-ul'>
                          <div class='front-li face-li'>
                              <h1><a href="/contact" style="text-decoration:none" id="link">CONTACT </a></h1>
                          </div>
                          <div class="side-li face-li">
                              <div id="context">
                                  <h1> <a href="/contact">CONTACT </a></h1>
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
              <li>
                  <div class='box-scene-ul'>
                      <div class='box-ul'>
                          <div class='front-li face-li'>
                              <h1><a href="/places" style="text-decoration:none" id="link">PLACES </a></h1>
                          </div>
                          <div class="side-li face-li">
                              <div id="context">
                                  <h1> <a href="/places">PLACES </a></h1>
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
              <li>
                  <div class='box-scene-ul'>
                      <div class='box-ul'>
                          <div class='front-li face-li'>
                              <h1><a href="/portraits" style="text-decoration:none" id="link">PORTRAIT </a></h1>
                          </div>
                          <div class="side-li face-li">
                              <div id="context">
                                  <h1><a href="/portraits">PORTRAITS </a></h1>
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
              <li>
                  <div class='box-scene-ul'>
                      <div class='box-ul'>
                          <div class='front-li face-li'>
                              <h1><a href="/images" style="text-decoration:none" id="link">HOME </a></h1>
                          </div>
                          <div class="side-li face-li">
                              <div id="context">
                                  <h1><a href="/images">HOME </a></h1>
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
          </ul>
      </nav>
      <br> <br>

      <!-- PHOTOS -->
      <div class="photos" style="width:1080px; margin:0 auto;">
        <h3> <a id="ness" href="/blodel"> Blodel Conservatory </a></h3>
        <h3 id="bellevue"> <a id="tess" href="/canada"> Canada </a></h3>
        <h3 id="pier"> <a id="elisha" href="/glow"> Glow Christmas </a> </h3>
        <h3 id="cap"><a id="val" href="/seattle"> Seattle </a> </h3>
        <a href="/bloedelconservatory"> <img class="hover" src="/resources/bloedel.jpg"> </a>
        <h3> <a id="alycia" href="/sky"> Sky </a> </h3>
        <h3> <a id="stian" href="/stian"> Little Si </a> </h3>
        <h3 id="uw"> <a href="/olympicnationalpark" id="hike" > Olympic National <br> Park  </a> </h3>
        <h3 id="city">  </h3>
        <a href="/canada"> <img src="/resources/canada.jpg"> </a>
        <a href="/glowchristmas"> <img src="/resources/glow.jpg"> </a>
        <a href="/seattle"> <img src="/resources/seattle.png"> </a>
        <a href="/sky"> <img src="/resources/sunset.png"> </a>
        <a href="/littlesi"> <img src="/resources/littlesi.png"> </a>
        <a href="/olympicnationalpark"> <img src="/resources/hike.png"> </a>


      </div>

</body>
</html>
